<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Address & Feature voting</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
  </body>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  <script>var app = Elm.fullscreen(Elm.Main);</script>
</html>
